global:
  dynamic:
    plugins:
      - package: ./dynamic-plugins/dist/backstage-community-plugin-rbac
        disabled: false
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-bulk-import
        disabled: false
      - package: ./dynamic-plugins/dist/red-hat-developer-hub-backstage-plugin-bulk-import-backend-dynamic
        disabled: false
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_page-n!internal-plugin-page-n
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-page-n:
                dynamicRoutes:
                  - path: /page-n
                    importName: Page
                    menuItem:
                      icon: dashboard
                      text: Page N
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_page-1!internal-plugin-page-1
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-page-1:
                dynamicRoutes:
                  - path: /page-1
                    importName: Page
                    menuItem:
                      icon: dashboard
                      text: Page 1
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_page-2!internal-plugin-page-2
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-page-2:
                dynamicRoutes:
                  - path: /page-2
                    importName: Page
                    menuItem:
                      icon: dashboard
                      text: Page 2
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_catalog-tab-n!internal-plugin-catalog-tab-n
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-catalog-tab-n:
                entityTabs:
                  - path: /catalog-tab-n
                    title: Catalog Tab N
                    mountPoint: entity.page.catalog-tab-n
                mountPoints:
                  - mountPoint: entity.page.catalog-tab-n/cards
                    importName: EntityCatalogCard
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_catalog-tab-1!internal-plugin-catalog-tab-1
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-catalog-tab-1:
                entityTabs:
                  - path: /catalog-tab-1
                    title: Catalog Tab 1
                    mountPoint: entity.page.catalog-tab-1
                mountPoints:
                  - mountPoint: entity.page.catalog-tab-1/cards
                    importName: EntityCatalogCard
      - package: oci://quay.io/jerolimov/rhdh-loadtest-plugins:bs_1.42_catalog-tab-2!internal-plugin-catalog-tab-2
        disabled: false
        pluginConfig:
          dynamicPlugins:
            frontend:
              internal.plugin-catalog-tab-2:
                entityTabs:
                  - path: /catalog-tab-2
                    title: Catalog Tab 2
                    mountPoint: entity.page.catalog-tab-2
                mountPoints:
                  - mountPoint: entity.page.catalog-tab-2/cards
                    importName: EntityCatalogCard

redhat-developer-hub:
  route:
    enabled: false

  upstream:
    backstage:
      appConfig:
        app:
          title: RHDH 1.7 loadtest

        auth:
          providers:
            guest:
              dangerouslyAllowOutsideDevelopment: true

        catalog:
          locations:
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/guest-login.yaml
              rules:
                - allow: [User, Group]
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/components-1000.yaml
              rules:
                - allow: [Component]
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/groups-100.yaml
              rules:
                - allow: [Group]
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/systems-100.yaml
              rules:
                - allow: [System]
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/apis-100.yaml
              rules:
                - allow: [API]
            - type: url
              target: https://github.com/christoph-jerolimov/rhdh-loadtests/blob/main/catalog/templates-100.yaml
              rules:
                - allow: [Template]

        permission:
          enabled: false
          rbac:
            pluginsWithPermission:
              - catalog
              - permission
              - scaffolder
            # policyFileReload: true
            # policies-csv-file: ./rbac/rbac-policies.csv
            # conditionalPoliciesFile: ./rbac-conditions/rbac-conditional-policies.yaml
            admin:
              superUsers:
                - name: user:default/christoph-jerolimov
              users:
                - name: user:default/rhdh-qe

      extraEnvVars:
        # defaults
        - name: BACKEND_SECRET
          valueFrom:
            secretKeyRef:
              key: backend-secret
              name: '{{ include "janus-idp.backend-secret-name" $ }}'
        - name: POSTGRESQL_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: postgres-password
              name: '{{- include "janus-idp.postgresql.secretName" . }}'
        # load route host (app and backend baseUrl)
        - name: APP_CONFIG_app_baseUrl
          valueFrom:
            configMapKeyRef:
              name: rhdh-baseurl-configmap
              key: APP_CONFIG_app_baseUrl
        - name: APP_CONFIG_backend_baseUrl
          valueFrom:
            configMapKeyRef:
              name: rhdh-baseurl-configmap
              key: APP_CONFIG_backend_baseUrl
        - name: BASEURL
          valueFrom:
            configMapKeyRef:
              name: rhdh-baseurl-configmap
              key: BASEURL
